.page{
    background-color: #336600;
}
h1, h2,h5{
    color: #336600;
    text-align: center;
    text-transform: uppercase;
    
}
.rol{
   color: grey;

}
.card{
    justify-content: space-evenly;
    background-color: grey;
}
.bi{
    font-size: 14rem;
    color: #336600;
    align-items: center;
}

#foot{
    display: flex;
    float: right;
   


}
.now{
    margin: 0 10px;

}
.know{
    margin: 0 10px;
    padding: 20px;
}
.download{
    display: flex;
    flex-direction: column;
}
.finish{
    background:#336600;
    font-size: .8rem;
    color: #fff !important;
}
::placeholder,#file{
    font-size: .8rem;
}
.follow i{
    padding: 0 5px;
    font-size: 1.5rem;
    color: #fff;
}
.hoving p:hover{
    cursor: pointer;
}
.tweet:hover{
    color:rgba(29,161,242,1.00);
    transition: .3s;
}
.fb:hover{
    color: #385898;
    transition: .3s;
}
.ig:hover{
    color:#d03b5c;
    transition: .3s;
}

.navlist{
    height: 80px !important;
    width: 100%;
    background-color: transparent;

    
}
.navlist ul {
    float: right;
    margin-right: 30px;

}

.navlist ul li {
    list-style: none;
    margin: 0 10px;
    display: inline-block;
    line-height: 80px;

}

.navlist ul li a {
    text-decoration: none;
color: #336600;
    font-size: 30px;
    padding: 6px 13px;
}

.navlist ul li a.active,
.navlist ul li a:hover{
color: #336600;
text-transform: 0.5s;
text-decoration-line: underline ; 


}