body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./assets/background/carpenter\ mtaani\ nav.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container{
    background-color: #336600;
    flex: 0% 20%;
    padding:  4% 0;
    border-radius: 15px ;

}
h2{
    color: antiquewhite;
}
button{
    color: #336600;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
}
button:active{
transform: scale(0.9);
transition: 0.5s;
}