body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("./");
    
}
.container{
    background-color: #336600;
    flex: 0% 30%;
padding:  4% 0;
}